<main>
  <!-- Carousel / Slider -->
  <div id="my-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">

    <!-- Indicators / Bullets-->
    <ol class="carousel-indicators">
      <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#my-carousel" data-slide-to="1"></li>
      <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%=image_tag(asset_path('index-background.jpg'), alt: "Floresta")%>
        <div class="carousel-caption">
          <%= I18n.t("image_description") %>
        </div>
      </div>
      <div class="item">
        <%=image_tag(asset_path("2.jpg"), alt: "2")%>
        <div class="carousel-caption">
          <%= I18n.t("image_description") %>
        </div>
      </div>
      <div class="item text-center">
        <%=image_tag(asset_path("4.jpg"), alt: "4")%>
        <div class="carousel-caption">
          <%= I18n.t("image_description") %>
        </div>
      </div>
    </div> <!-- Wrapper for slides -->
  </div>
</main>
