<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Home</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="my-navbar navbar navbar-inverse">
      <div class="container-fluid">

        <!-- Mobile Display Button - Toggle Button -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="collapse-menu">
          <ul class="nav navbar-nav">
            <li><a class="text-center text-uppercase" href="#">
              <%= I18n.t('menu.home')%>
            </a></li>
            <li><a class="text-center text-uppercase" href="#">
              <%= I18n.t('menu.about') %>
            </a></li>
            <li><a class="text-center text-uppercase" href="#">
              <%= I18n.t('menu.clients') %>
            </a></li>
            <li><a class="text-center text-uppercase" href="#">
              <%= I18n.t('menu.contact') %>
            </a></li>
            <li><a class="text-center text-uppercase" href="#">
              <%= I18n.t('menu.location') %>
            </a></li>
          </ul>
        </div>

      </div>
    </nav>
    <%= yield %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="<%=asset_path('jquery-3.1.1.min.js')%>"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="<%=asset_path('bootstrap.min.js')%>"></script>
  </body>
  <footer>
    <% I18n.available_locales.each do |locale|%>
      <%= link_to(locale, home_index_url(locale: locale)) %> <br>
    <% end %>
  </footer>
</html>
